POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
DATABASE_URL=

# Auth.js (next-auth@beta)
AUTH_URL=             # Host ヘッダー設定 (yourdomain.com)本番環境では設定必須
AUTH_SECRET=          # openssl rand -base64 32 で生成
AUTH_RESEND_KEY=      # Resend ダッシュボードで取得
AUTH_EMAIL_FROM=      # 例: noreply@yourdomain.com
